* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	font-family:system-ui,Helvetica,Arial,sans-serif;
}

#container {
	width: 90%;
	max-width: 750px;
	margin: 4rem auto;
}

nav {
	margin: 1rem 0 3rem;
}

nav li {
	list-style: none;
	display: inline-block;
	margin: 0;
}

nav a {
	margin-right: 1rem;
}

h1 { 
	color:#333;
	font-family: system-ui, Helvetica, Arial, sans-serif;
	font-weight: 300;
}

h2 {
	color:#333;
	font-family: system-ui, Helvetica, Arial, sans-serif;
	font-weight: 300;
}

h3 {
	color:#555;
	font-family: system-ui, Helvetica, Arial, sans-serif;
	font-weight:300;
}

h1 {
	font-size: 2.5rem;
	margin-top: 1rem
}

.global-title{ 
	font-size:3rem;
	color:#222;
}

h2{
	font-size:1.8rem
}

h3{
	font-size:1.3rem;
}

h2,h3{
	margin:2rem 0 1rem;
}

p,li{
	font-size:1rem;
	line-height:150%;
	color:#444;
	margin:1.25rem 0;
}

li{
	margin:0.25rem 0 0 2.5rem;
}

li:first-child{
	margin-top: 0;
}

a {
	color: #68A7CA;
	text-decoration: none;
}

a:hover, a:active {
	color: #8ebdd7;
}

img {
	max-width: 100%;
}

.avatar {
	width: 7rem;
	height: 7rem;
	border-radius: 4rem;
	margin-right: 1.5rem;
}

.greeting-container {
	display: flex;
}

.greeting-container h3 {
	align-self: center;
	margin: 0;
}

.posts-list-item {
	list-style: none;
	margin: 1.25rem 0;
}

.posts-list-title {
	margin-bottom: 0.75rem;
}

.posts-list-item:first-of-type {
	margin-top: 1.25rem;
}

.posts-list-item .title {
	margin:0 0.25rem 0 0;
	display: inline-block;
}

.timestamp {
	color: #676767;
}

.timestamp-inline {
	line-height: 1;
	align-self: flex-end;
	display: inline-block;
}

.timestamp-block {
	display: block;
	margin-top: 0.75rem;
}
